#skew-sharing {
    background: none repeat scroll 0 0 black;
    height: 40px;
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    letter-spacing: -0.1px;
    font-family: 'Helvetica', Arial;
    top: 0;
    z-index: 999999;
}
/*
#skew-sharing ul:before {
    color: white;
    content: "Share This Post";
    float: left;
    margin-left: -5px;
    margin-top: 2px;
    padding: 0 10px;
}
*/
#skew-sharing ul{
    height:25px;
    list-style:none;
    margin:6px auto 0px auto;
    width:900px;
}
#skew-sharing ul li{
    display:inline;
    float:left;
    margin:0px 2px;
}
#skew-sharing input[type="text"]{
    float:left;
    border:1px solid #ccc;
    margin:0px 1px 0px 50px;
    padding:3px;
}